.hide {
    display: none;
}

.container {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner {
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 175px 300px;
    text-align: center;
}

.banner h2 {
    font-size: 55px;
    font-weight: bold;
    color: #fff;
}

.banner p {
    font-size: 18px;
    color: #fff;
    padding: 0px 100px;
}

.btn {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 19px;
    border-radius: 7px;
    color: #fff;
    background-color: #FF5959;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.donation {
    text-align: center;
    padding: 100px 300px;
}

.donation h2,
.donation-plan h2 {
    color: #121212;
    font-size: 45px;
}

.donation p,
.donation-plan p {
    font-size: 20px;
    color: #707070;
}

.don-amount {
    display: flex;
    justify-content: space-between;
}

.don-amount h5 {
    background-color: #f5f3f3;
    font-weight: bold;
    font-size: 28px;
    padding: 40px 20px;
    border-radius: 8px;
    color: #707070;
    border: 2px solid #f5f3f3;
    cursor: pointer;
}

.don-amount h5:hover {
    border: 2px solid rgba(2, 173, 246, 0.661);
}

.donation-plan {
    text-align: center;
    padding: 0px 300px;
}

.plan-container {
    display: flex;
    padding: 50px 150px;
    gap: 20px;
}

.food {
    background-color: #eefafb;
    padding: 50px 25px 30px 25px;
    text-align: justify;
    border-radius: 10px;
}

.shelter {
    background-color: #fce6e6;
    padding: 50px 25px 30px 25px;
    text-align: justify;
    border-radius: 10px;
}

.education {
    background-color: #FFF4D6;
    padding: 50px 25px 30px 25px;
    text-align: justify;
    border-radius: 10px;
}

.food h4,
.shelter h4,
.education h4 {
    font-size: 22px;
    font-weight: 400px;
    color: #121212;
}

.food p,
.shelter p,
.education p {
    font-size: 18px;
    color: #707070;
}

/* Responsive Design */

/* For small devices */

@media screen and (max-width:572px) {
    .banner {
        padding: 10px;
        background-image: url(../images/donation9.jpg);
        text-align: center;
    }

    .banner h2 {
        font-size: 35px;
    }

    .banner p {
        font-size: 14px;
        padding: 0px 50px;
        color: #121212;
        font-weight: bold;
    }

    .donation,
    .donation-plan {
        padding: 0px 10px;
    }

    .d-des {
        text-align: justify;
    }

    .don-amount {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .don-amount h5 {
        font-size: 20px;
        padding: 10px 10px;
        border-radius: 8px;
        margin: 5px;
        width: 40%;
    }

    .plan-container {
        flex-direction: column;
        padding: 20px;
    }

}

/* For Medium Devices */

@media screen and (min-width:573px) and (max-width:992px) {
    .banner {
        padding: 10px;
    }

    .donation,
    .donation-plan {
        padding: 50px 80px;
    }

    .plan-container {
        padding: 0px 50px;
    }
}