.container {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner {
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 175px 300px;
    text-align: center;
}

.banner h2 {
    font-size: 55px;
    font-weight: bold;
    color: #fff;
}

.banner p {
    font-size: 18px;
    color: #fff;
    padding: 0px 100px;
}

.btn {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 19px;
    border-radius: 7px;
    color: #fff;
    background-color: #FF5959;
    border: none;
    cursor: pointer;
}

.donation {
    text-align: center;
    padding: 100px 300px;
}

.donation h2 {
    color: #121212;
    font-size: 45px;
}

.donation p {
    font-size: 20px;
    color: #707070;
}

.don-amount {
    display: flex;
    justify-content: space-between;
}

.don-amount h5 {
    background-color: #f5f3f3;
    font-weight: bold;
    font-size: 28px;
    padding: 40px 20px;
    border-radius: 8px;
    color: #707070;
    border: 2px solid #f5f3f3;
    cursor: pointer;
}

.don-amount h5:hover {
    border: 2px solid rgba(2, 173, 246, 0.661);
}


/* Responsive Design */

/* For small devices */
/* 
@media screen and (max-width:572px) {
    
} */